/* Styling for Header and main elements are located in the styles.css page */
/* Main Page Styling for the HTML Reference Page */
@import url('./styles.css');

/* Main content layout for each page that is not the homepage */
main {
    width: 100%;
    height: auto;
    display: flex;
    
}

/*Styling for Side Navigation on each page that is not the homepage */
.sideNav {
    margin: 0px 0px 0px 15px;
    height: 800px;
    width: 20%;
    border-right: 10px solid #063970;
    font-weight: 600;
    box-shadow: 5px 0px 5px #0957AA;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

.sideNavList {
    list-style-type: none;
    margin-top: 25px;
    padding: 0px 10px;
 }

 .sideNavList li {
    margin: 10px 0px;
 }

 .sideNavList li a {
    padding: 10px 20px;
    color:#063970;
    text-decoration: none;
    line-height: 2.0;
 }

 .sideNavList li a:hover {
    background-color: #063970;
    color:#fff;
 }

 .focus {
    background-color: #063970;
    color: #fff !important;
 }
 /* End of side nav styling */

/* Additional Styling for main content on each page that is not the homepage */
.contentDiv {
    width: 80%;
    margin-left: 20px;
}
 .contentData {
   width: 90%;
   margin: 10px 0px 0px 10px;
}

.code {
   font-family: 'Times New Roman', Times, serif;
   /* text-align: center; */
   font-size: 1.4rem;
   font-weight: 700;
   background-color: #D1CECD;
   padding: 10px 0px;
   width: 60%;
   margin: 20px auto;
   padding: 5px;
   line-height: 1.5;
}
.centerText {
   text-align: center;
}
.indentOne {
    margin-left: 10px;
}
.indentTwo {
    margin-left: 20px;
}

h2 {
    text-decoration: underline #0957AA 5px;
    text-transform: uppercase;
}

table, td, th {
   border: 5px solid #063970;
   border-radius: 5px;
}
table {
   width: 40%;
   border-collapse: collapse;
   margin: 15px auto;
}
th {
   height: 50px;
   background-color: #063970;
}
td {
   height: 25px;
   padding: 10px;
   text-align: center;
   background-color: #0B75E5;
   color: #fff;
}
/* End of main content styling */