/* latin */
@font-face {
    font-family: 'Pathway Extreme', sans-serif;
    font-style: normal;
    font-weight: 500, 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pathwayextreme/v3/neIpzCC3pJ0rsaH2_sD-QttXPfDPonvkQ-pxx5gufvP2VmLjiFyxGf8BLymNjaH6E98.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    background-color: #abdbe3;
    font-family: 'Pathway Extreme';
}

table, td, th {
    border: 2px solid black;
    border-radius: 5px;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}
th {
    height: 50px;
    background-color: lightblue;  
}
td {
    height: 25px;
    padding: 10px;
}
.refName {
    height: 30px;
    font-weight: bold;
    background-color: #063970;
    color:#fff;
    font-size: 18px;
    text-align: center;
}
.section {
    margin: 0 auto;
    text-align: center;
    padding: 10px 15px;
}
.code {
    font-family: monospace;
    width: 20%;
    text-align: center;
    font-size: 18px;
}
/*Header Styling*/
header {
    text-align: center;
    background-color: #063970;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

/*Navigation links for html, css and js pages*/
.pagesNav {
    margin: 10px auto;
    text-align: center;
    font-family: 'Pathway Extreme';
}
.pagesNav ul {
    list-style-type: none;
    display: inline-flex;
}
.pagesNav li a {
    width: 30%;
    padding: 20px;
    font-size: 20px;
    background-color: #063970;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 5px 10px 15px #000;
}
.pagesNav li a:hover {
    color:#063970;
    background-color: #fff;
}
/*STYLING FOR ELEMENTS ACROSS HTML, CSS, AND JS PAGES*/
.elementTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
.elementHeader {
    margin: 20px auto;
    background-color: #063970;
    border-radius: 5px;
    width: 50%;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
}
.arrow {
    float: right;
    position: relative;
    bottom: 45px;
    right: 20px;
}
.elementBody {
    margin: 0px auto 10px;
    width: 51.5%;
    position: relative;
    top: -30px;
}
.listRef {
    width: 20%;
    margin: 10px auto;
}

/*Toggle buttons and content class*/
.invisible {
    display: none;
}

#footer {
    margin-top: 30px;
}

/* .arrow {
    --fa-rotate-angle: 45deg;
    --fa-animation-duration: 3s;
} */