/* Styling for Header and main elements are located in the styles.css page */
/* Main Page Styling for the HTML Reference Page */
@import url('../styles.css');


main {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 25% 75%;
    column-gap: 10px;
}
.sideNav {
   margin: 0px 0px 0px 10px;
    height: 1000px;
    border-right: 10px solid #063970;
    border-bottom: 10px solid #063970;
    font-weight: 600;
    box-shadow: 5px 10px 5px #0957AA;
}

.sideNavList {
    list-style-type: none;
    margin-top: 25px;
 }

 .sideNavList li {
    margin: 15px;
    
 }

 .sideNavList li a {
    padding: 10px 20px;
    color:#063970;
    text-decoration: none;
    line-height: 2.0;
 }

 .sideNavList li a:hover {
    background-color: #063970;
    color:#fff;
 }

 .focus {
    background-color: #063970;
    color: #fff !important;
 }

 .contentData {
   width: 90%;
   margin: 10px 0px 0px 10px;
}

.code {
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   font-size: 1.4rem;
   font-weight: 700;
   background-color: #D1CECD;
   padding: 10px 0px;
   width: 50%;
   margin: 20px auto;
}
.centerText {
   text-align: center;
}