/* Styling for Header and main elements are located in the styles.css page */
/* Main Page Styling for the HTML Reference Page */

@font-face {
    font-family: 'Pathway Extreme', sans-serif;
    font-style: normal;
    font-weight: 500, 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pathwayextreme/v3/neIpzCC3pJ0rsaH2_sD-QttXPfDPonvkQ-pxx5gufvP2VmLjiFyxGf8BLymNjaH6E98.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

main {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
}
.sideNav {
    margin: 0px 0px 0px 10px;
    height: 600px;
    border-right: 10px solid #063970;
    font-weight: 600;
}

#htmlSideNavList {
    list-style-type: none;
    margin-top: 25px;
 }

#htmlSideNavList li {
    margin: 15px;
    
 }

 #htmlSideNavList li a {
    padding: 10px 20px;
    color:#063970;
    text-decoration: none;
 }

 #htmlSideNavList li a:hover {
    background-color: #063970;
    color:#fff;
 }

 #htmlSideNavList li a:active {
    background-color: #063970;
    color: #fff;
 }